<!DOCTYPE html>
<html lang="en">
<head>
    <title>First template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="stylesheet1.css">
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <!-- Optional JavaScript -->
       <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
 <div class="left_side">
  <div class="profileText">
   <div class="imgBx">
     <img src="img.png">
   </div>
     <h2> Jane doe   <br><span>current occupation</span></h2>
  </div>
  <div class="contactInfo">
    <h3 class="title">Contact Info</h3>
    <ul>
        <li>
            <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
            <span class="text"> Github </span>
        </li>
        <li>
            <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <span class="text"> Email </span>
        </li>
        <li>
            <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
            <span class="text"> Website </span>
        </li>
        <li>
            <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
            <span class="text"> LinkedIn </span>
        </li>
        <li>
            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <span class="text"> Phone number </span>
        </li>
    </ul>
  </div>
  <div class="contactInfo education">
    <h3 class="title">education</h3>
    <ul>
        <li>
            <h5>school name, state</h5>
           <h6> Jan 2020 - Jan 2020</h6>
           <h6>some degree</h6>
          
        </li>
        <li>
            <h5>school name, state</h5>
            <h6> Jan 2020 - Jan 2020</h6>
            <h6>some degree</h6>
    </ul>
  </div>


<div class="aboutSkills">
    <h2 class="title2">Professional skills</h2>
   <div class="skills">
    <ul>
        <li>HTML</li>  
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>C++</li>
    </ul>
   </div>
   </div>
   <div class="contactInfo languages">
    <h3 class="title">Languages</h3>
    <ul>
        <li>
<span class="text">Spanish</span>
<span class="percent">
<div style="width: 100%;"></div>
</span>
        </li>
        <li>
            <span class="text">English</span>
            <span class="percent"><div style="width: 100%;"></div></span>
                    </li>
                    <li>
                        <span class="text">French</span>
                        <span class="percent"><div style="width: 75%;"></div></span>
                                </li>
    </ul>
</div>
 </div>
<!----dont mix the sides up---->
    <div class="right_side">
    <div class="about">
        <h2 class="title2">About</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quod sunt dignissimos ex sed? Repellendus, corporis et nulla blanditiis vel animi, officia accusantium similique consequatur voluptate sit alias iure neque!</p>
    </div>
    <div class="about">
<h2 class="title2">experience</h2>
<div class="box">
    <div class="year_company">
    <h5>Company name 1 </h5>
    <h6>Jan 2020 - Jan 2020<h6>
    </div>
    <div class="text">
        <h4>Job title 1</h4>
       <ul>
        <li>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, inventore quod omnis accusantium vel.
        </li>
        <li>
            elit. Necessitatibus, inventore quod omnis accusantium vel.
        </li>
        <li>
            elit. Necessitatibus, inventore quod omnis accusantium vel.
        </li>
       </ul>
    </div>
</div>
<div class="box">
    <div class="year_company">
        <h5>Company name 2 </h5>
        <h6>Jan 2020 - Jan 2020</h6>
    </div>
    <div class="text">
        <h4>Job title 2</h4>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, inventore quod omnis accusantium vel.
            </li>
            <li>
                elit. Necessitatibus, inventore quod omnis accusantium vel.
            </li>
            <li>
                elit. Necessitatibus, inventore quod omnis accusantium vel.
            </li>
           </ul>
    </div>
</div>
<div class="box">
    <div class="year_company">
        <h5>Company name 3 </h5>
        <h6>Jan 2020 - Jan 2020</h6>
    </div>
    <div class="text">
        <h4>Job title 3</h4>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, inventore quod omnis accusantium vel.
            </li>
            <li>
                elit. Necessitatibus, inventore quod omnis accusantium vel.
            </li>
            <li>
                elit. Necessitatibus, inventore quod omnis accusantium vel.
            </li>
           </ul>
    </div>
</div>
    </div>

    <div class="about interest">
        <h2 class="title2">Projects</h2>
        <div class="collapsing-projects">
        <div class="one">
        <p>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#project-collapse" aria-expanded="false" aria-controls="project-collapse"><i class="fa fa-code" aria-hidden="true"></i> Project name </button>
        </p>
        <div class="collapse" id="project-collapse">
            <div class="card card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolores sunt non saepe minima repellat corporis voluptate. Sunt modi nemo dolorem officia dolore ipsam ad. Voluptatibus vel quos architecto soluta!
            </div>
            </div>
        </div>
        <div class="two">
            <p>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#project-collapse" aria-expanded="false" aria-controls="project-collapse"><i class="fa fa-code" aria-hidden="true"></i> Project name </button>
            </p>
            <div class="collapse" id="project-collapse">
                <div class="card card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolores sunt non saepe minima repellat corporis voluptate. Sunt modi nemo dolorem officia dolore ipsam ad. Voluptatibus vel quos architecto soluta!
                </div>
                </div>
            </div>
            <div class="three">
                <p>
                    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#project-collapse" aria-expanded="false" aria-controls="project-collapse"><i class="fa fa-code" aria-hidden="true"></i> Project name </button>
                </p>
                <div class="collapse" id="project-collapse">
                    <div class="card card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolores sunt non saepe minima repellat corporis voluptate. Sunt modi nemo dolorem officia dolore ipsam ad. Voluptatibus vel quos architecto soluta!
                    </div>
                    </div>
                </div>
                <div class="four">
                    <p>
                        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#project-collapse" aria-expanded="false" aria-controls="project-collapse"><i class="fa fa-code" aria-hidden="true"></i> Project name </button>
                    </p>
                    <div class="collapse" id="project-collapse">
                        <div class="card card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolores sunt non saepe minima repellat corporis voluptate. Sunt modi nemo dolorem officia dolore ipsam ad. Voluptatibus vel quos architecto soluta!
                        </div>
                        </div>
                    </div>
        </div>
        </div>



<!----end of right container-->
    </div>
<!----whole container div-->
</div>
</body>
</html>