<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Home page </title>
    <link rel="stylesheet" href="homestyle.css"/>
</head>
<body>
    <div class="gradient"></div>
    <header class="header">
        <nav class="navbar">
            <h2 class="logo"><a href="#">DevConnect</a></h2>
            <input type="checkbox" id="menu-toggle"/>
            <label for="menu-toggle" id="hamburger-btn">&#9776;</label>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Explore</a></li>
            </ul>
            <div class="buttons">
                <a href="#" class="signin">Sign In</a>
                <a href="#" class="signup">Sign Up</a>
            </div>
        </nav>
    </header>
<section class="hero-section">
    <div class="hero">
        <h2>Welcome to the Computer Science community</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum possimus mollitia esse labore neque. Animi voluptatum unde molestias aliquid earum voluptate? Illo laboriosam blanditiis quo neque repellat aut quasi molestias!
        </p>
        <div class="buttons">
            <a href="#" class="Join">Join Us Today!</a>
            <a href="#" class="learn">Learn More</a>
        </div>
    </div>
    <div class="img">
        <img src="masc.PNG" alt="hero image"/>
    </div>
</section>

</body>
</html>