<!DOCTYPE html>
<html>
<head>
    <title>Follower List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Follower List</h1>
        <ul class="list-group">
 
            {% for follower in user.userprofile.followed_by.all %}
              
                    <a href="{% url 'users_handling:showprofile' id=follower.user.id username=follower.user.username %}"><li>{{follower.user.username}}</li></a>

            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>