{% extends 'base.html' %}

{% block body %}


<div class="container py-3 ">
    <div class="row justify-content-center">
        {% if user.is_authenticated %}
        <script>
            window.location.href = "{% url 'home:home' %}";
        </script>

        {% else %}
        <div class="card text-center" style="width: 30rem;">
            <div class="card-body  justify-content-center ">

                <h5 class="card-title">Login</h5>
                <form method="POST">
                    {% csrf_token %}
                    <!-- Email input -->
                    <div class="form-outline mb-4">

                        <label class="form-label" for="form2Example1">Username :</label>
                        {{ form.username }}

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example2">Password : </label>
                        {{ form.password }}

                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="{% url 'users_handling:signup' %}">Register</a></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}