{% extends 'base.html' %}

{% block body %}
<div class="container mt-5 jumbotron ">
    <div class="card">
        <div class="card-header">
            <h2>Update Experiens</h2>
        </div>
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    
            </form>
        </div>
    </div>
       
    </div>
</div>
<br>
<br>
{% endblock %}
